@media (max-width: 1200px) {
  .flex-wrap {
    padding: 0 50px;
  }
  header .header-container .header-main .header-text {
    width: 40%;
  }
  header .header-container .header-main .header-text h2 {
    font-size: 2.3rem;
    line-height: 50px;
  }
  header .header-container .header-main .header-text .header-btns .header-btn {
    width: 150px;
  }
  header .header-container .header-main .header-image img {
    width: 400px;
  }
  .tabulator .tabulator-wrap .tabulator-container .tabulator-content .tab-content .tab-content-text {
    width: 50%;
    margin-right: 50px;
  }
  .slider-main {
    padding: 65px 0 140px 0;
  }
  .slider-main .slider-main-top-text h5 {
    margin-bottom: 30px;
  }
  .like .like-container .like-btns .like-btn:first-child {
    margin-bottom: 20px;
  }
  .grid .grid-container .block2 .block2-image img {
    width: 280px;
    margin-top: 40px;
  }
  .grid .grid-container .block2 .block2-text {
    padding-right: 0;
  }
  .grid .grid-container .block3 .block3-image img {
    width: 290px;
    margin-left: 250px;
  }
  .grid .grid-container .block3 .block3-text {
    width: 40%;
  }
  .grid .grid-container .block3 .block3-text p:last-child {
    display: none;
  }
  .grid .grid-container .block6 {
    padding: 10px;
  }
  .grid .grid-container .block6 .block6-text p {
    font-size: 1rem;
  }
  .price .price-container .price-card-wrap .price-card .price-description button {
    width: 120px;
  }
  .consultation .consultation-container .consultation-left-aside {
    margin-right: 35px;
  }
  .contact .contact-container .contact-block .contact-card:first-child,
  .contact .contact-container .contact-block .contact-card:nth-child(2) {
    margin-right: 100px;
  }
}
@media (max-width: 900px) {
  header .header-container .top-header {
    margin-bottom: 50px;
  }
  header .header-container .top-header .logo .logo-title {
    margin-right: 10px;
  }
  header .header-container .top-header .menu {
    width: 80%;
  }
  header .header-container .top-header .menu li a {
    font-size: 0.9rem;
    margin-right: 5px;
    margin-right: 10px;
  }
  header .header-container .top-header .menu li a:last-child {
    margin-right: 0;
  }
  header .header-container .header-main {
    flex-direction: column;
  }
  header .header-container .header-main .header-text {
    width: 100%;
    text-align: center;
  }
  header .header-container .header-main .header-image {
    display: none;
  }
  .overview {
    padding-bottom: 20px;
  }
  .overview .overview-container .overview-cards .overview-card-item {
    width: 40%;
    margin-bottom: 50px;
  }
  .details {
    padding: 0;
  }
  .details .details-container .details-image {
    display: none;
  }
  .details .details-container .details-text {
    width: 100%;
    text-align: center;
  }
  .details .details-container .details-text .details-bottom-text {
    display: none;
  }
  .tabulator .tabulator-wrap .tabulator-container .tab-list {
    margin-bottom: 50px;
  }
  .tabulator .tabulator-wrap .tabulator-container .tabulator-content .tab-content .tab-content-text {
    width: 100%;
    text-align: center;
  }
  .tabulator .tabulator-wrap .tabulator-container .tabulator-content .tab-content .tab-content-image {
    display: none;
  }
  .slider-main .slider-main-top-text h5 {
    margin-bottom: 50px;
  }
  .slider-main .slider-main-container .slider-main-block {
    align-items: flex-start;
  }
  .slider-main .slider-main-container .slider-main-block .slick-dots {
    margin-top: 20%;
  }
  .slider-main .slider-main-container .slider-main-block .arrows-right {
    margin-top: 3%;
  }
  .slider-main .slider-main-container .slider-main-block .arrows-left {
    margin-top: 3%;
  }
  .grid .grid-container {
    display: flex;
    flex-direction: column;
  }
  .pricing {
    padding: 0;
  }
  .price .price-container {
    flex-wrap: wrap;
  }
  .price .price-container .price-card-wrap {
    width: 45%;
  }
  .price .price-container .price-card-wrap:first-child,
  .price .price-container .price-card-wrap :nth-child(2) {
    margin-bottom: 30px;
  }
  .consultation .consultation-container .consultation-right-aside {
    display: none;
  }
  .contact .contact-container .contact-block .contact-card:first-child,
  .contact .contact-container .contact-block .contact-card:nth-child(2) {
    margin-right: 15px;
  }
  footer .footer-social span {
    padding: 0 20px;
  }
}
@media (max-width: 715px) {
  .slider-main .slider-main-container .slider-main-block .slick-dots {
    margin-top: 30%;
  }
}
@media (max-width: 600px) {
  .menu-container .overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(61, 61, 61, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 99998;
  }
  .menu-container .overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .menu-container .mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 99999;
  }
  .menu-container .mobile-nav.active {
    transform: translateX(0);
  }
  .menu-container .mobile-nav .logo-mobile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
  }
  .menu-container .mobile-nav .logo-mobile span {
    color: #fff;
  }
  .menu-container .mobile-nav .logo-mobile .fa-times-circle {
    font-size: 20px;
  }
  .menu-container .mobile-nav .mobile-menu {
    padding: 10px;
  }
  .menu-container .mobile-nav .mobile-menu li {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    padding: 20px;
  }
  header .header-container .top-header .menu {
    width: 10%;
  }
  header .header-container .top-header .menu li {
    display: none;
  }
  header .header-container .top-header .menu li.mobile {
    visibility: visible;
    display: block;
  }
  header .header-container .top-header .menu li.mobile > a > span {
    color: #fff;
  }
  header .header-container .header-main .header-text .intro {
    font-size: 0.9rem;
  }
  header .header-container .header-main .header-text h2 {
    font-size: 1.6rem;
    line-height: 40px;
    margin: 10px 0 15px;
  }
  header .header-container .header-main .header-text p {
    margin-bottom: 30px;
    font-size: 1rem;
  }
  header .header-container .header-main .header-text .header-btns {
    padding-bottom: 60px;
  }
  header .header-container .header-main .header-text .header-btns .header-btn:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .modal-container .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-container .modal-content {
    width: 300px;
  }
  .overview .overview-container .overview-text h3 {
    font-size: 2rem;
  }
  .overview .overview-container .overview-cards .overview-card-item {
    width: 100%;
  }
  .tabulator .tabulator-wrap .tabulator-container .tab-list {
    display: flex;
    flex-direction: column;
  }
  .tabulator .tabulator-wrap .tabulator-container .tab-list .tab {
    text-align: center;
  }
  .tabulator .tabulator-wrap .tabulator-container .tabulator-content .tab-content .tab-content-text {
    margin-right: 0;
  }
  .tabulator .tabulator-wrap .tabulator-container .tabulator-content .tab-content .tab-content-text h3 {
    font-size: 1.5rem;
  }
  .slider-main .slider-main-container .slider-main-block .arrows-right {
    display: none !important;
  }
  .slider-main .slider-main-container .slider-main-block .arrows-left {
    display: none !important;
  }
  .like .like-container {
    flex-direction: column;
  }
  .like .like-container .like-title p {
    text-align: center;
    margin-bottom: 20px;
  }
  .like .like-container .like-btns {
    text-align: center;
  }
  .like .like-container .like-btns .like-btn:first-child {
    margin-right: 0;
  }
  .grid .grid-container .block1 {
    margin-bottom: 10px;
  }
  .grid .grid-container .block2 {
    margin-bottom: 10px;
  }
  .grid .grid-container .block2 .block2-image {
    display: none;
  }
  .grid .grid-container .block2 .block2-text {
    width: 100%;
    padding: 15px;
  }
  .grid .grid-container .block3 {
    margin-bottom: 10px;
  }
  .grid .grid-container .block3 .block3-image {
    display: none;
  }
  .grid .grid-container .block3 .block3-text {
    width: 100%;
    padding: 15px;
  }
  .price .price-container .price-card-wrap {
    width: 100%;
    margin: 0;
  }
  .price .price-container .price-card-wrap .price-card {
    margin-bottom: 30px;
  }
  .consultation .consultation-container {
    padding-left: 50px;
  }
  .consultation .consultation-container .consultation-left-aside h4 {
    font-size: 1.5rem;
    line-height: 40px;
  }
  .consultation .consultation-container .consultation-left-aside .consultation-form .form-consult {
    flex-direction: column;
  }
  .contact .contact-container .contact-top h4 {
    margin-bottom: 100px;
  }
  .contact .contact-container .contact-block {
    flex-wrap: wrap;
  }
  .contact .contact-container .contact-block .contact-card {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact .contact-container .contact-block .contact-card img {
    margin-bottom: 10px;
  }
  footer .footer-social:first-child,
  footer .footer-social :nth-child(2),
  footer .footer-social :nth-child(3) {
    margin-bottom: 15px;
  }
  footer .footer-bottom span {
    font-size: 0.8rem;
  }
}
@media (max-width: 515px) {
  .slider-main .slider-main-container .slider-main-block .slick-dots {
    margin-top: 45%;
  }
}
@media (max-width: 440px) {
  .slider-main .slider-main-container .slider-main-block .slick-dots {
    margin-top: 250px;
  }
}
@media (max-width: 360px) {
  .slider-main .slider-main-container .slider-main-block .slick-dots {
    margin-top: 250px;
  }
}
