// out: ../css/media.css



@media (max-width: 1200px) {

    .flex-wrap {
        padding: 0 50px;
    }
    header {
        .header-container {
            .top-header {
                .logo {
                    .logo-name {
                        span {
                        }
                    }
    
                    .logo-title {
                        span {
                        }
                    }
                }
    
                .menu {
                    li {
                        a {
                        }
                    }
                }
            }
    
            .header-main {
                .header-text {
                    width: 40%;

                    .intro {
                    }
    
                    h2 {
                        font-size: 2.3rem; 
                        line-height: 50px;

                    }
    
                    p {
                       
                    }
    
                    .header-btns {
                        .header-btn {
                            width: 150px;
                        }
                    }
                }
                .header-image {
                    img {
                        width: 400px;
                    }
                }
            }
        }
    }
    
    .modal-container {
        .modal-overlay {
            
        }
    
        .modal-content {
           
    
            .modal-title {
                h4 {
                  
                }
            }
            .modal-text {
                p {
                   
                }
            }
            .modal-footer {
                
    
                button {
    
                }
            }
        }
    }
    
    .overview {
       
    
        .overview-container {
            .overview-text {
             
    
                span {
                  
                }
    
                h3 {
                    
                }
            }
            .overview-cards {
                .overview-card-item {
                    .overview-card-image {
                        img {
                            
                        }
                    }
    
                    h4 {
                       
                    }
                    p {
                      
                    }
                }
            }
        }
    }
    
    .details {
        .details-container {
            .details-image {
                img {
                  
                }
            }
            .details-text {
                .details-top-text {
    
                    span {
                    }
    
                    h4 {
                      
                    }
    
                    p {
                       
                    }
                } 
                .details-bottom-text {
                    .details-bottom-item {
                        
                        img {
                          
                        }
                        span {
                           
                        }
                    }
                    
                }
            }
        }
    }
    
    .tabulator {
         
        
        .tabulator-wrap {
            .tabulator-container {
                .tab-list {
                    .tab {
                        
                    }
                    
                }
                .tabulator-content {
                    .tab-content {
                        .tab-content-text {
                            width: 50%;
                            margin-right: 50px;
    
                            h3 {
                               
                            }
    
                            p {
                               
                            }
                        }
    
                        .tab-content-image {
                         
    
                            img {
                              
                            }
                        }
                    }
                }
            }
        }
    }
    
    .info-block {
      
    
        .info-block-container {
    
            .info-block-text {
              
    
                span {
                       
                        
                    }
    
                    h4 {
                     
                    }
    
                    p {
                       
                    }
            }
            .info-block-image {
              
    
                img {
                    
                }
            }
        }
    }
    
    // .portfolio {
    //     .portfolio-container {
    //         display: grid;
    //         grid-template-columns: repeat(4, 1fr);
    //         grid-template-rows: repeat(3, 350px);
    //         grid-gap: 20px;
    
    //         .photo1 {
    //             grid-area: auto / 1 / auto / 3;
    //             width: 300px;
    //         }
    //     }
    // }
    
    .slider-main {
        padding: 65px 0 140px 0;
        .slider-main-top-text {
    
            span {
               
            }
    
            h5 {
                margin-bottom: 30px;
            }
        }
        .slider-main-container {
            .slider-main-block {
                .slick-dots {
                    
    
                    li {
    
                        button {
                            
    
                            
                        }
    
                        
                    }
                }
    
                .arrows-right {
                    
                }
                
                .arrows-left {
                    
                }
                .slider-main-block-item {
                    
                    .slider-main-text-block {
                        p {
                           
                        }
                    }
                    .slider-main-footer {
                        
    
                        .slider-main-footer-image {
    
                            img {
    
                            }
                        }
                        .slider-main-footer-text {
                            span {
                               
    
                            }
    
                            p {
                               
                            }
                        }
                    }
                }
            }
        }
    }
    
    .like {
      
    
        .like-container {
            
            .like-title {
                p {
                  
                }
    
            }
            .like-btns {

                
                .like-btn {
                    &:first-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    
    .grid {
    
        .grid-container {
          
    
            .block1 {
                
                .block1-image {
    
                    img {
                    }
                }
            }
    
            .block2 {
                
                .block2-image {
                    img {
                    width: 280px;
                    margin-top: 40px;
                        
                    }
                }
    
                .block2-text {
                    padding-right: 0;
                    
                }
            }
    
            .block3 {
    
                .block3-image {
    
                    img {
                        width: 290px;
                        margin-left: 250px;
                    }
                }
    
                .block3-text {
                    width: 40%;
                    p {
                        &:last-child {
                            display: none;
                        }
                    }
                    
                }
            }
    
            .block4 {
            }
    
            .block5 {
                
            }
    
            .block6 {
                padding: 10px;

                .block6-image {
    
                }
    
                .block6-text {
                    p {
                        font-size: 1rem;
                    }
                    
                }
            }
    
            .block7 {
               
            }
        }
    }
    
    
    
    .pricing {
    
        .pricing-container {
            
    
            span {
                
            }
    
            h5 {
               
                
                
            }
        }
    }
    
    .price {
    
        .price-container {
          
    
            .price-card-wrap {
                .price-card {
                    
        
                    
                   .price-title {
                       
        
                       h5 {
                       
                       }
                   } 
        
                   .price-unit {
                     
        
                       span {
                        
                       }
        
                       p {
                       
                       }
                    }
        
                    .price-description {
                     
                        p {
                           
                        }
        
                        button {
                            width: 120px;
                        }
                    }
                }
            }
            
        }
    }
    
    .consultation {
        
        .consultation-container {
           
    
            .consultation-left-aside {
                margin-right: 35px;
                h4 {
                   
                }
    
                .consultation-form {
                    .form-consult {
        
                        .form-left-aside {
                            p {
                                .form-input {
                                    
                                }
                            }
                        }
                        
                        .form-right-aside {
                            p {
                                .form-input {
                                  
    
                                   
                                }
    
                                button {
                                   
    
                                    
                                }
                            }
                        }
                    }
                }
            }
    
            .consultation-right-aside {
                img {
                }
            }
        }
    }
    
    .contact {
       
    
        .contact-container {
            .contact-top {
              
    
                span {
               
                }
    
                h4 {
                  
                    
                    
                }
            }
    
            .contact-block {
              
                .contact-card {
                    &:first-child, &:nth-child(2) {
                        margin-right: 100px;
                    }
    
                    img {
                        
                    }
    
                    span {
                       
                    }
                }
            }
        }
    }
    
    .map {
        > .flex-wrap {
    
            .map-container {
               
                iframe {
                   
                }
            }
        }
    }
    
    footer {
        
    
        .footer-social {
           
    
            span {
             
    
               
            }
        }
        .footer-bottom {
    
            span {
              
            }
        }
    }
}

@media (max-width: 900px) {
    header {
        .header-container {
            .top-header {
                margin-bottom: 50px;
                .logo {
                    .logo-name {
                        span {
                        }
                    }
    
                    .logo-title {
                        margin-right: 10px;
                        span {
                        }
                    }
                }
    
                .menu {
                    width: 80%;
                    li {
                        a {
                            font-size: 0.9rem;
                            margin-right: 5px;
                            margin-right: 10px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
    
            .header-main {
                flex-direction: column;
                .header-text {
                    width: 100%;
                    text-align: center;
                    .intro {
                    }
    
                    h2 {
                       
                    }
    
                    p {
                       
                    }
    
                    .header-btns {
                        .header-btn {
                          
                        }
                    }
                }
                .header-image {
                    display: none;
                    img {
    
                    }
                }
            }
        }
    }
    
    .modal-container {
        .modal-overlay {
            
        }
    
        .modal-content {
           
    
            .modal-title {
                h4 {
                  
                }
            }
            .modal-text {
                p {
                   
                }
            }
            .modal-footer {
                
    
                button {
    
                }
            }
        }
    }
    
    .overview {
        padding-bottom: 20px;
    
        .overview-container {
            .overview-text {
             
    
                span {
                  
                }
    
                h3 {
                    
                }
            }
            .overview-cards {
                .overview-card-item {
                    width: 40%;
                    margin-bottom: 50px;
                    .overview-card-image {
                        img {
                            
                        }
                    }
    
                    h4 {
                       
                    }
                    p {
                      
                    }
                }
            }
        }
    }
    
    .details {
        padding: 0;
        .details-container {
            .details-image {
                display: none;

                img {
                  
                }
            }
            .details-text {
                width: 100%;
                text-align: center;
                .details-top-text {
    
                    span {
                    }
    
                    h4 {
                      
                    }
    
                    p {
                       
                    }
                } 
                .details-bottom-text {
                    display: none;
                    .details-bottom-item {
                        
                        img {
                          
                        }
                        span {
                           
                        }
                    }
                    
                }
            }
        }
    }
    
    .tabulator {
         
        
        .tabulator-wrap {
            .tabulator-container {
                .tab-list {
                    margin-bottom: 50px;
                    .tab {
                        
                    }
                    
                }
                .tabulator-content {
                    .tab-content {
                        .tab-content-text {
                            width: 100%;
                            text-align: center;
                            h3 {
                               
                            }
    
                            p {
                               
                            }
                        }
    
                        .tab-content-image {
                            display: none;
    
                            img {
                              
                            }
                        }
                    }
                }
            }
        }
    }
    
    .info-block {
      
    
        .info-block-container {
    
            .info-block-text {
              
    
                span {
                       
                        
                    }
    
                    h4 {
                     
                    }
    
                    p {
                       
                    }
            }
            .info-block-image {
              
    
                img {
                    
                }
            }
        }
    }
    
    // .portfolio {
    //     .portfolio-container {
    //         display: grid;
    //         grid-template-columns: repeat(4, 1fr);
    //         grid-template-rows: repeat(3, 350px);
    //         grid-gap: 20px;
    
    //         .photo1 {
    //             grid-area: auto / 1 / auto / 3;
    //             width: 300px;
    //         }
    //     }
    // }
    
    .slider-main {
    
        .slider-main-top-text {
    
            span {
               
            }
    
            h5 {
                margin-bottom: 50px;

            }
        }
        .slider-main-container {
            .slider-main-block {
                align-items: flex-start;
                .slick-dots {
                    margin-top: 20%;
    
                    li {
    
                        button {
                            
    
                            
                        }
    
                        
                    }
                }
    
                .arrows-right {
                    margin-top: 3%;
                }
                
                .arrows-left {
                    margin-top: 3%;

                    
                }
                .slider-main-block-item {
                    
                    .slider-main-text-block {
                        p {
                            
                        }
                        h5 {
                        }
                    }
                    .slider-main-footer {
                        
    
                        .slider-main-footer-image {
    
                            img {
    
                            }
                        }
                        .slider-main-footer-text {
                            span {
                               
    
                            }
    
                            p {
                               
                            }
                        }
                    }
                }
            }
        }
    }
    
    .like {
      
    
        .like-container {
            
            .like-title {
                p {
                  
                }
    
            }
            .like-btns {
                .like-btn {
                    
                }
            }
        }
    }
    
    .grid {
    
        .grid-container {
            display: flex;
            flex-direction: column;
    
            .block1 {
                .block1-image {
    
                    img {
                    }
                }
            }
    
            .block2 {
    
                .block2-image {
    
                    img {
                        
                    }
                }
    
                .block2-text {
                    
                }
            }
    
            .block3 {
    
                .block3-image {
    
                    img {
                       
                    }
                }
    
                .block3-text {
                    
                }
            }
    
            .block4 {
            }
    
            .block5 {
                
            }
    
            .block6 {
               
            }
    
            .block7 {
               
            }
        }
    }
    
    
    
    .pricing {
        padding: 0;
    
        .pricing-container {
            
    
            span {
                
            }
    
            h5 {
               
                
                
            }
        }
    }
    
    .price {
    
        .price-container {
            flex-wrap: wrap;
    
            .price-card-wrap {
                width: 45%;

                &:first-child, :nth-child(2) {
                    margin-bottom: 30px;
                }
                .price-card {
                    
        
                    
                   .price-title {
                       
        
                       h5 {
                       
                       }
                   } 
        
                   .price-unit {
                     
        
                       span {
                        
                       }
        
                       p {
                       
                       }
                    }
        
                    .price-description {
                     
                        p {
                           
                        }
        
                        button {
                           
                        }
                    }
                }
            }
            
        }
    }
    
    .consultation {
        
        .consultation-container {
           
    
            .consultation-left-aside {
    
                h4 {
                   
                }
    
                .consultation-form {
                    .form-consult {
        
                        .form-left-aside {
                            p {
                                .form-input {
                                    
                                }
                            }
                        }
                        
                        .form-right-aside {
                            p {
                                .form-input {
                                  
    
                                   
                                }
    
                                button {
                                   
    
                                    
                                }
                            }
                        }
                    }
                }
            }
    
            .consultation-right-aside {
                display: none;
                img {
                }
            }
        }
    }
    
    .contact {
       
    
        .contact-container {
            .contact-top {
              
    
                span {
               
                }
    
                h4 {
                  
                    
                    
                }
            }
    
            .contact-block {
              
                .contact-card {
                    &:first-child, &:nth-child(2) {
                        margin-right: 15px;
                    }
    
                    img {
                        
                    }
    
                    span {
                       
                    }
                }
            }
        }
    }
    
    .map {
        > .flex-wrap {
    
            .map-container {
               
                iframe {
                   
                }
            }
        }
    }
    
    footer {
        
    
        .footer-social {
           
    
            span {
                padding: 0 20px;
    
               
            }
        }
        .footer-bottom {
    
            span {
              
            }
        }
    }

}

@media (max-width: 715px) {
    .slider-main {
    
        .slider-main-top-text {
    
            span {
               
            }
    
            h5 {

            }
        }
        .slider-main-container {
            .slider-main-block {
                .slick-dots {
                    margin-top: 30%;
    
                    li {
    
                        button {
                            
    
                            
                        }
    
                        
                    }
                }
    
                .arrows-right {
                }
                
                .arrows-left {

                    
                }
                .slider-main-block-item {
                    
                    .slider-main-text-block {
                        p {
                            
                        }
                        h5 {
                        }
                    }
                    .slider-main-footer {
                        
    
                        .slider-main-footer-image {
    
                            img {
    
                            }
                        }
                        .slider-main-footer-text {
                            span {
                               
    
                            }
    
                            p {
                               
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (max-width: 600px) {

    .menu-container {
        .overlay {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(61, 61, 61, 0.7);
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s ease;
            z-index: 99998;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
    
        .mobile-nav {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: 60%;
            background-color: rgba(255, 255, 255, 1);
            transform: translateX(-100%);
            transition: all 0.5s ease;
            z-index: 99999;

            &.active {
                transform: translateX(0);
            }

            .logo-mobile {
                display: flex;
                justify-content: space-between;
                padding: 20px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                color: #fff;

                span {
                    color: #fff;
                }
                .fa-times-circle {
                    font-size: 20px;
                }
                
            }
            .mobile-menu {
                padding: 10px;
                

                li {
                    margin-bottom: 5px;
                    border-bottom: 1px solid #eee;
                    padding: 20px;


                    a {
                    }
                }
            }
        }
    }

    

    header {
        .header-container {
            .top-header {
                .logo {
                    .logo-name {
                        span {
                        }
                    }
    
                    .logo-title {
                        span {
                        }
                    }
                }
    
                .menu {
                    width: 10%;
                    li {
                        display: none;
                        &.mobile {
                            visibility: visible;
                            display: block;
                            
                            > a {
                                > span {
                                    color: #fff;
                                }
                            }
                        }

                            a {
                            }

                        
                    }
                }
            }
    
            .header-main {
                .header-text {
                    .intro {
                        font-size: 0.9rem;
                    }
    
                    h2 {
                        font-size: 1.6rem;
                        line-height: 40px;
                        margin: 10px 0 15px; 
                    }
    
                    p {
                        margin-bottom: 30px;
                        font-size: 1rem;
                    }
    
                    .header-btns {
                        padding-bottom: 60px;
                        .header-btn {
                          &:first-child {
                              margin-right: 0;
                              margin-bottom: 20px;
                          }
                        }
                    }
                }
                .header-image {
                    img {
    
                    }
                }
            }
        }
    }
    
    .modal-container {
        .modal-overlay {
            background-color: rgba(0, 0, 0, 0.5);
        }
    
        .modal-content {
            
            width: 300px;
    
            .modal-title {
                h4 {
                  
                }
            }
            .modal-text {
                p {
                   
                }
            }
            .modal-footer {
                
    
                button {
    
                }
            }
        }
    }
    
    .overview {
       
    
        .overview-container {
            .overview-text {
             
    
                span {
                  
                }
    
                h3 {
                    font-size: 2rem;


                }
            }
            .overview-cards {
                .overview-card-item {
                    width: 100%;
                    .overview-card-image {
                        img {
                            
                        }
                    }
    
                    h4 {
                       
                    }
                    p {
                      
                    }
                }
            }
        }
    }
    
    .details {
        .details-container {
            .details-image {
                img {
                  
                }
            }
            .details-text {
                .details-top-text {
    
                    span {
                    }
    
                    h4 {
                      
                    }
    
                    p {
                       
                    }
                } 
                .details-bottom-text {
                    .details-bottom-item {
                        
                        img {
                          
                        }
                        span {
                           
                        }
                    }
                    
                }
            }
        }
    }
    
    .tabulator {
         
        
        .tabulator-wrap {
            .tabulator-container {
                .tab-list {
                    display: flex;
                    flex-direction: column;
                    .tab {
                        text-align: center;
                    }
                    
                }
                .tabulator-content {
                    .tab-content {
                        .tab-content-text {
                            margin-right: 0;
                            h3 {
                                font-size: 1.5rem;
                            }
    
                            p {
                               
                            }
                        }
    
                        .tab-content-image {
                         
    
                            img {
                              
                            }
                        }
                    }
                }
            }
        }
    }
    
    .info-block {
      
    
        .info-block-container {
    
            .info-block-text {
              
    
                span {
                       
                        
                    }
    
                    h4 {
                     
                    }
    
                    p {
                       
                    }
            }
            .info-block-image {
              
    
                img {
                    
                }
            }
        }
    }
    
    // .portfolio {
    //     .portfolio-container {
    //         display: grid;
    //         grid-template-columns: repeat(4, 1fr);
    //         grid-template-rows: repeat(3, 350px);
    //         grid-gap: 20px;
    
    //         .photo1 {
    //             grid-area: auto / 1 / auto / 3;
    //             width: 300px;
    //         }
    //     }
    // }
    
    .slider-main {
    
        .slider-main-top-text {
    
            span {
               
            }
    
            h5 {
               
            }
        }
        .slider-main-container {
            .slider-main-block {
                .slick-dots {
                    
    
                    li {
    
                        button {
                            
    
                            
                        }
    
                        
                    }
                }
    
                .arrows-right {
                    
                }
                
                .arrows-left {
                    
                }
                .slider-main-block-item {
                    
                    .slider-main-text-block {
                        p {
                           
                        }
                    }
                    .slider-main-footer {
                        
    
                        .slider-main-footer-image {
    
                            img {
    
                            }
                        }
                        .slider-main-footer-text {
                            span {
                               
    
                            }
    
                            p {
                               
                            }
                        }
                    }
                }
            }
        }
    }
    
    .like {
      
    
        .like-container {
            flex-direction: column;
            .like-title {
                p {
                    text-align: center;
                    margin-bottom: 20px;
                }
    
            }
            .like-btns {
                text-align: center;
                .like-btn {

                    &:first-child {
                        margin-right: 0;
                    }
                    
                }
            }
        }
    }
    
    .grid {
    
        .grid-container {
          
    
            .block1 {
                
                .block1-image {
    
                    img {
                    }
                }
            }
    
            .block2 {
                .block2-image {
                    display: none;
                    img {
                        
                    }
                }
    
                .block2-text {
                    width: 100%;
                    padding: 15px;

                }
            }
    
            .block3 {
    
                .block3-image {
                    display: none;
                    img {
                       
                    }
                }
    
                .block3-text {
                    width: 100%;
                    padding: 15px;
                }
            }
    
            .block4 {
            }
    
            .block5 {
                
            }
    
            .block6 {
               
            }
    
            .block7 {
               
            }
        }
    }
    
    
    
    .pricing {
    
        .pricing-container {
            
    
            span {
                
            }
    
            h5 {
               
                
                
            }
        }
    }
    
    .price {
    
        .price-container {
          
    
            .price-card-wrap {
                width: 100%;
                margin: 0;
                
                .price-card {
                    margin-bottom: 30px;
                    &:first-child {
                        
                    }
                    
                   .price-title {
                       
        
                       h5 {
                       
                       }
                   } 
        
                   .price-unit {
                     
        
                       span {
                        
                       }
        
                       p {
                       
                       }
                    }
        
                    .price-description {
                     
                        p {
                           
                        }
        
                        button {
                           
                        }
                    }
                }
            }
            
        }
    }
    
    .consultation {
        
        .consultation-container {
            padding-left: 50px;

    
            .consultation-left-aside {
    
                h4 {
                    font-size: 1.5rem;
                    line-height: 40px;
                }
    
                .consultation-form {
                    .form-consult {
                        flex-direction: column;
        
                        .form-left-aside {
                            p {
                                .form-input {
                                    
                                }
                            }
                        }
                        
                        .form-right-aside {
                            p {
                                .form-input {
                                  
    
                                   
                                }
    
                                button {
                                   
    
                                    
                                }
                            }
                        }
                    }
                }
            }
    
            .consultation-right-aside {
                img {
                }
            }
        }
    }
    
    .contact {
       
    
        .contact-container {
            .contact-top {
              
    
                span {
               
                }
    
                h4 {
                    margin-bottom: 100px;
                    
                    
                }
            }
    
            .contact-block {
                flex-wrap: wrap;
              
                .contact-card {
                    width: 100%; 
                    margin-bottom: 30px;
                    &:first-child, &:nth-child(2) {
                    }
    
                    img {
                        margin-bottom: 10px;
                    }
    
                    span {
                       
                    }
                }
            }
        }
    }
    
    .map {
        > .flex-wrap {
    
            .map-container {
               
                iframe {
                   
                }
            }
        }
    }
    
    footer {
        
    
        .footer-social {
           &:first-child, :nth-child(2), :nth-child(3) {
            margin-bottom: 15px;
            }
    
            span {
             
    
               
            }
        }
        .footer-bottom {
    
            span {
                font-size: 0.8rem;
            }
        }
    }

}

@media (max-width: 515px) {
    .slider-main {
    
        .slider-main-top-text {
    
            span {
               
            }
    
            h5 {

            }
        }
        .slider-main-container {
            .slider-main-block {
                .slick-dots {
                    margin-top: 45%;
    
                    li {
    
                        button {
                            
    
                            
                        }
    
                        
                    }
                }
    
                .arrows-right {
                    margin-top: 10%;
                }
                
                .arrows-left {
                    margin-top: 10%;
                    margin-left: -7%;

                    
                }
                .slider-main-block-item {
                    
                    .slider-main-text-block {
                        p {
                            
                        }
                        h5 {
                        }
                    }
                    .slider-main-footer {
                        
    
                        .slider-main-footer-image {
    
                            img {
    
                            }
                        }
                        .slider-main-footer-text {
                            span {
                               
    
                            }
    
                            p {
                               
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 440px) {
    .slider-main {
    
        .slider-main-top-text {
    
            span {
               
            }
    
            h5 {

            }
        }
        .slider-main-container {
            .slider-main-block {
                .slick-dots {
                    margin-top: 200px;
    
                    li {
    
                        button {
                            
    
                            
                        }
    
                        
                    }
                }
    
                .arrows-right {
                    margin-top: 20%;
                    margin-left: 106%;
                }
                
                .arrows-left {
                    margin-top: 20%;
                    margin-left: -10%;
                    

                    
                }
                .slider-main-block-item {
                    
                    .slider-main-text-block {
                        p {
                            
                        }
                        h5 {
                        }
                    }
                    .slider-main-footer {
                        
    
                        .slider-main-footer-image {
    
                            img {
    
                            }
                        }
                        .slider-main-footer-text {
                            span {
                               
    
                            }
    
                            p {
                               
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .slider-main {
    
        .slider-main-top-text {
    
            span {
               
            }
    
            h5 {

            }
        }
        .slider-main-container {
            .slider-main-block {
                .slick-dots {
                    margin-top: 250px;
    
                    li {
    
                        button {
                            
    
                            
                        }
    
                        
                    }
                }
    
                .arrows-right {
                    margin-top: 25%;
                    margin-left: 108%;
                }
                
                .arrows-left {
                    margin-left: -14%;
                    margin-top: 25%;

                    
                }
                .slider-main-block-item {
                    
                    .slider-main-text-block {
                        p {
                            
                        }
                        h5 {
                        }
                    }
                    .slider-main-footer {
                        
    
                        .slider-main-footer-image {
    
                            img {
    
                            }
                        }
                        .slider-main-footer-text {
                            span {
                               
    
                            }
    
                            p {
                               
                            }
                        }
                    }
                }
            }
        }
    }
}